<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="../static/js/echarts.min.js"></script>

</head>
<body>
    <div id="2cc96307c5bf41028b20e3e94d03e082" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2cc96307c5bf41028b20e3e94d03e082 = echarts.init(
            document.getElementById('2cc96307c5bf41028b20e3e94d03e082'), 'white', {renderer: 'canvas'});
        var option_2cc96307c5bf41028b20e3e94d03e082 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Duration",
            "data": [
                49.702,
                0.317,
                1.337,
                0.166,
                0.043,
                0.275,
                0,
                0,
                0,
                0.264,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0.251,
                0.29,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Duration"
            ],
            "selected": {
                "Duration": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "get_unit_list",
                "create_unit",
                "update_unit",
                "get_unit_by_id",
                "delete_unit_by_group_name",
                "create_data_form_config",
                "delete_data_form_config",
                "get_data_form_config_details",
                "get_data_form_config_list",
                "get_department_list",
                "get_department_folder_by_group_name",
                "get_department_by_group_name",
                "create_department",
                "get_user_list_in_department",
                "update_department",
                "delete_department_by_group_name",
                "get_user_list_by_filter_conditions",
                "create_user",
                "get_user_details",
                "get_user_image_by_photo_url",
                "get_user_list_by_role_name",
                "import_user_from_execl",
                "update_user",
                "update_user_state_by_id",
                "user_logout",
                "user_sso_login",
                "update_user_state_by_id",
                "get_retention_policy_list",
                "create_retention_policy",
                "update_retention_policy",
                "delete_retention_policy",
                "get_applied_retention_policy_list",
                "get_policy_details_by_name",
                "get_category_list",
                "get_data_form_metadata_scheme_list",
                "get_form_base_info",
                "get_form_base_info_by_metadata_scheme_id",
                "get_form_column_config",
                "get_form_column_config_by_metadata_scheme_id",
                "get_category_detail",
                "get_iteration_category_list_by_id",
                "get_column_list_by_metadata_scheme_id",
                "get_report_template_type_list",
                "get_bottom_category_list",
                "get_standard_code_by_name",
                "get_excel_headers_by_file",
                "get_filter_operator_list",
                "get_system_attribute_list_by_type_name",
                "get_bread_crumbs_by_id",
                "get_object_list",
                "get_object_list_in_department",
                "get_tree_node_list_by_parent_id",
                "get_tree_nodes_business_attribute_by_id",
                "create_data_form",
                "delete_data_form",
                "get_data_form_details",
                "get_data_form_list",
                "update_data_form",
                "create_file_plan",
                "delete_file_plan",
                "get_file_plan_by_parent_id",
                "create_common_folder",
                "get_common_folder_details_by_id",
                "get_list_by_parentId",
                "update_common_folder",
                "delete_resource",
                "download_file",
                "download_temp_file",
                "upload_file",
                "get_info_by_user_id",
                "create_category",
                "delete_category",
                "get_category_by_file_plan_id",
                "get_category_details",
                "get_category_list_by_parent_id",
                "get_category_list_by_query_type",
                "get_category_list_by_id",
                "get_child_nodes_by_parent_node",
                "create_document",
                "get_version_list",
                "get_document_id_by_relative_path_in_record",
                "get_view_token",
                "get_document_details",
                "get_document_list_by_record_id",
                "update_document_name",
                "apply_acl",
                "create_volume",
                "delete_volume",
                "get_volume_acl_details",
                "get_volume_details",
                "rearrange",
                "update_volume",
                "create_record",
                "update_record",
                "get_record_details",
                "delete_record",
                "get_year_list_by_parentId",
                "confirm_file_data_range",
                "rearrange",
                "file"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u63a5\u53e3\u54cd\u5e94\u65f6\u957f\u5206\u5e03\u56fe",
            "subtext": "\u53f3\u4e0a\u89d2\u56fe\u6807\u53ef\u5207\u6362\u6298\u7ebf\u56fe\u54e6\uff01",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {}
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_2cc96307c5bf41028b20e3e94d03e082.setOption(option_2cc96307c5bf41028b20e3e94d03e082);
    </script>
</body>
</html>
